:root {
  --background-color: #0e0e0e;
  --components-black: #121212;
  --components-grey: #343a40;
  --components-light-grey: #495057;
  --light-black: #222221;
  --text-colour: #f0f0f0;
  --text-hover: #979797;
  --text-colour-secondary: #4c4b4d;
  --behind-background-colour: #252525;
  --def-font-size: 1.6rem;
  --main-orange: #f28a3a;
  --secondary-orange: #de6127;

  --radio-light-grey: #212121;
  --radio-dark-grey: #1c1c1c;
}
